
body {
    background-image: url("img/masthead.png");
    background-repeat: no-repeat;
    text-decoration-color:white;
    text-align:center;
}    

p {
    font-size: 18px;
}

.well {
    background-color: rgba(185,103, 255, 0.9);
    border: 1px black;
}

#media img {
    max-width: 100%;
    border: black;
}

#media {
    padding-top:0px;
    padding-bottom: 0px;
}

#buy .well {
    background-color:black;
    color: dimgray;
    line-height: 25px;
}

#buy .buy-buttons {
    font-size: 60px;
    line-height: 50px;
    display: inline;
    width: 40px;
    height: 40px;
    outline: none;
}

#devlog {
    background-image: url(img/retrocarpet.png);
}

#devlog .well {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px black;
}

