body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: nexaBold;
    src: url('../fonts/nexaBold.eot>#iefix') format('embedded-opentype');
    src: url('../fonts/nexaBold.otf');
    src: local('nexaBold'), url('../fonts/nexaBold.otf') format('opentype');
}

.navbar {
    background-color: #272529;
    border-color: deeppink;
}

.navbar .navbar-brand {
    margin-left: 500px;
}

.navbar .pull-left {
    padding: 5px;
    margin-left: -300px
}

.navbar .navbar-nav {
    float: right;
    margin-right: -600px;
}

li a:hover {
    color: #b41a62;
    background-color: black !important;
    padding:15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 600px;
    background-color: #272529;
}

li a {
    font-family: nexaBold;
    display: inline-block;
    text-decoration: none;
    color: white;
    
}


