@{
    ViewBag.Title = "Lost Dutchman Software";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Site = Path.GetFileName(Request.Url.ToString());
    DutchmanSite.Models.DevLogsModel Logs = new DutchmanSite.Models.DevLogsModel();
    DutchmanSite.Helper.HomePageSubtitle Subtitle = new DutchmanSite.Helper.HomePageSubtitle();
}
@section head{
   <meta name="description" content="Lost Dutchman Software" />
   <meta name="keywords" content="software design,software,today's japanese,today's spanish,nice bowling,software design,software studio,software solutions,app development,app developer,video game developer,video game studio,arizona software developer,mesa software developer,mesa software company,arizona software company,app development,phone app development,Android app development,single solution development,single solution developer,lost dutchman,lost dutchman software,lost dutchman mesa,lost dutchman arizona,single solution application,indie game developer,indie game studio,unity developers,unity games developers,indie developer,gamedev,game dev,alexa app" />
    <meta name="author" content="Lost Dutchman Software" />
    <link href="~/Content/LostDutchman.css" rel="stylesheet" type="text/css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    }

<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#page-top"><img id="logo" src="~/Content/img/navbarbrand.png" alt="Lost Dutchman Software" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder navbar-inverse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#aboutLink">About Us</a>
            </li>
            <li>
                <a href="#softwareLink">Software</a>
            </li>
            <li>
                <a href="#publishingLink">Publishing</a>
            </li>
            <li>
                <a href="#devlogLink">News Feed</a>
            </li>
            <li>
                <a href="#contactLink">Contact</a>
            </li>            
        </ul>
    </div>
</div>

<header class="masthead">
    <div class="intro-text">
        <div class="intro-heading">Lost Dutchman</div>
        <div class="intro-lead-in">@Subtitle.GetSubtitle()</div>
    </div>
</header>

<section id="about">
    <div class="container">
        <span class="anchor" id="aboutLink"></span>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <h3 class="section-subheading text-muted">We would all like to believe that we know how to run a business.</h3>
            </div>
        </div>
        <div class="row-text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x center">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-moon fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">What's the Deal</h4>
                <p class="text-muted">We like games.  We like making games.  We also like making neat apps that are good at what they do.  We like designing things that make sense, that are fun, and accessible. We started this company so that we can make a living doing what we like to do. No, we just have to convince you to check out what we make and convince you through sound rhetoric that you like it.  And then we won't have to go back to working for 'the man'-- that mysterious, evil force that most of the world has to give their health and sanity to in exchange for a paycheck. So please buy our stuff, you're our only hope.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Software</h4>
                <p class="text-muted">We believe in strong, centralized mechanics that are interesting and intuitive. We believe in single solution, easy-to-use software. We believe horses have a secret society that controls the car manufacturing industry. We want to make games we would enjoy playing and software we would enjoy using. We want to tell you all about our favorite games and argue with you relentlessly when you disagree with our extremely objective and well-reasoned opinions!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-burn fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Publishing</h4>
                <p class="text-muted">Look, we really like games.  Maybe you picked up on that.  So much that we found programming them was taking so long that we started making tabletop RPG content on the side.  If we're going to bother making them anyway we might as well try to sell them to you, that's what non-gmo capitalism is all about, right?  We like easy-to-teach and easy-to-learn RPG rulesets that prioritize player based narrative and free-range role playing.  We have some free ones, so why not try them out? It's not like there's some kind of secret message in the text that will forcibly compel you to spend all your money on our stuff...  We should really look into how to do that.</p>
            </div>
        </div>
    </div>
</section>

<section id="folio" class="bg-light">
    <div class="container">
        <span class="anchor" id="softwareLink"></span>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Software Projects</h2>
                <h3 class="section-subheading text-muted">Check out some of our recent games and apps.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioModalAlexa">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/AlexaIcons.png" alt="Today's Japanese and Spanish" />
                </a>
                <div class="folio-caption">
                    <h4>Today's Japanese</h4>
                    <h4>Today's Spanish</h4>
                    <p class="text-muted">Word-a-day language learning program</p>
                    <br />
                    <img class="img-fluid" src="~/Content/img/alexa.png" alt="Today's Japanese" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" href="~/Home/NiceBowling">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/NBproject.png" alt="Nice Bowling" />
                </a>
                <div class="folio-caption">
                    <h4>Nice Bowling!</h4>
                    <p class="text-muted">Retrowave bowling game with a plethora of lane, ball, and pin effects to make for a unique experience.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioModalMF4">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/MF4project.png" alt="Modern Fairway 4" />
                </a>
                <div class="folio-caption">
                    <h4>Modern Fairway 4</h4>
                    <h4>Spec-Ops in the Rough</h4>
                    <p class="text-muted">Made for <a href="https://ldjam.com/">Ludum Dare #41</a>, the theme was "Mix two incompatible genres".  We combined golf and a modern first person shooter.</p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    <span class="anchor" id="publishingLink"></span>
    <div class="row">
        <div>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publishing Projects</h2>
                <h3 class="section-subheading text-muted">Check out what we've been working on in the tabletop realm!</h3>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 folio-item">
            <a class="folio-link" data-toggle="modal" href="~/Home/WyrdOfStromgard">
                <div class="folio-hover">
                    <div class="folio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="~/Content/img/wyrdproject.png" alt="The Wyrd of Stromgard" />
            </a>
            <div class="folio-caption">
                <h4>The Wyrd of Stromgard</h4>
                <p class="text-muted">Norse Fantasy RPG expansion for Dungeon World</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 folio-item">
            <a class="folio-link" data-toggle="modal" href="#folioModalFortuna">
                <div class="folio-hover">
                    <div class="folio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="~/Content/img/fortunethumbnail.png" alt="Fortuna Mythica" />
            </a>
            <div class="folio-caption">
                <h4>Fortuna Mythica</h4>
                <p class="text-muted">Our entry into the <a href="https://200wordrpg.github.io/">200 Word RPG Challenge</a>.  Use ordinary playing cards to build legendary heroes and put them up against mythical challenges.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 folio-item">
            <a class="folio-link" data-toggle="modal" href="#folioModalDread">
                <div class="folio-hover">
                    <div class="folio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="~/Content/img/dreadproject.png" alt="Dread One Shots" />
            </a>
            <div class="folio-caption">
                <h4>Dread</h4>
                <h4>Supplemental Content</h4>
                <p class="text-muted">Made for the tabletop rpg, Dread, these one-shots provide a complete experience to guide the GM and players through multiple horror scenarios.</p>
            </div>
        </div>
    </div>
    </div>
</div>
</section>

<section id="devlog">
    <span class="anchor" id="devlogLink"></span>
    <div class="container">
        <div class="row">            
                <article class="well clearfix">
                    <h2 class="section-heading">News Feed</h2>
                    <p class="subheading">Project Updates, Musings, and more...</p>
                    <br />
                    @Html.Raw(Logs.GetLog(Site))
                </article>            
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <span class="anchor" id="contactLink"></span>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us!</h2>
                <h3 class="section-subheading text-muted">Use the form below to summon us!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="sentMessage" action="" method="post">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input class="form-control" name="name" id="name" type="text" placeholder="Your Name *" required data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email" placeholder="Your Email *" required data-validation-required-message="Please enter your email." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <div id="googleRecaptchadiv">
                                <div id="recaptcha-demo" class="g-recaptcha" data-sitekey="6LcVRk4UAAAAAGaV-zytXgDsllLydoa1DlVOuqkc" data-callback="onSuccess" data-bind="recaptcha_demo_submit"></div>
                                <script>
                                    var onSuccess = function (response) {
                                        debugger;
                                        var errorDivs = document.getElementsByClassName("recaptcha-error");
                                        if (errorDivs.length) {
                                            errorDivs[0].className = "";
                                        }
                                        var errorMsgs = document.getElementsByClassName("recaptcha-error-message");
                                        if (errorMsgs.length) {
                                            errorMsgs[0].parentNode.removeChild(errorMsgs[0]);
                                        }
                                        var clickButton = document.getElementById("<%= Button1.ClientID %>");
                                        clickButton.click();
                                    };
                                </script>
                            </div>
                            <button type="submit" class="btn btn-xl get">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <p class="text-muted">Come find us on social media!</p>
                <div class="col-md-12">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/SoftDutch">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/lostdutchmansoftware/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UC0DOBzJirr9YCc0CMP7X32g">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://lostdutchman.itch.io/">
                                <i class="fas fa-gamepad"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/lostdutchman">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- portfolio modals-->
    <!-- SOFTWARE MODALS -->
    <div class="folio-modal modal fade" id="folioModalAlexa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="modal-body">
                                <h2>Today's Japanese</h2>
                                <h2>Today's Spanish</h2>
                                <p class="item-intro text-muted">Amazon Alexa skill for daily language Learning</p>
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/APP_ICON2.png" alt="Today's Japanese and Spanish" />
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/bubble.png" alt="Alexa voice commands" />
                                <p>The aim of Today's Japanese and Today's Spanish is to provide Alexa users with a wide variety of vocabulary that they can practice whenever they have a spare moment.  We made certain to not only contain common words and phrases, but also words of varying difficulty (while still being accessible to learners of all levels).  Today's Japanese and Spanish contains a new word every day and you'll have access to common, meaningful subjects like animals, colors, seasons, greetings, family members, and some basic phrases for conversation.</p>
                                <ul class="list-inline">
                                    <li>Date: February 2018</li>
                                    <li><a href="https://www.amazon.com/dp/B07B2LCK35/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1520008742&sr=1-1&keywords=todays+japanese">View on Amazon Echo Skill Market here</a></li>
                                    <li>Category: Single Solution Application</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="folio-modal modal fade" id="folioModalMF4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="modal-body">
                                <h2>Modern Fairway 4</h2>
                                <h2>Spec-Ops in the Rough</h2>
                                <p class="item-intro text-muted">Our first Ludum Dare project - created in just 3 days.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/mf4level1.gif" alt="" />
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/mf4level2.gif" alt="" />
                                <p>The Ludum Dare challenge is simple: a theme chosen and once its revealed, you have 72 hours to create a game for submission and review by the rest of the community.  Ludum Dare #41 was our first official game jam and we had a blast.  The theme chosen was "combine two incompatible genres" and we did the most outlandish thing we could think of- combine a first person shooter with golf.  And we really combined everything.  The drama and grittiness of an FPS is all over the menu and overall styling of the game but the golf courses are low poly, brightly colored, and downright cute.  Most importantly, even the mechanics are combined- you shoot the ball into the hole with a variety of high powered weapons.</p>
                                <ul class="list-inline">
                                    <li>Date: April 2018</li>
                                    <li><a href="https://ldjam.com/events/ludum-dare/41/modern-fairway-4-spec-ops-in-the-rough">Check out Modern Fairway 4 on Ludum Dare!</a></li>
                                    <li>Category: Game</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PUBLISHING MODALS -->
    <div class="folio-modal modal fade" id="folioModalFortuna" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="modal-body">
                                <h2>Fortuna Mythica</h2>
                                <p class="item-intro text-muted">A flexible, narrative heavy RPG played with the luck of the cards.</p>
                                <img class="img-fluid d-block mx-auto img-responsive" src="~/Content/img/fortunethumbnail.png" alt="Fortuna Mythica" />
                                <br />

                                <p>Originally created for the <a href="http://200wordrpg.github.io">200 Word RPG Challenge</a>, Fortuna Mythica balances intuitive structure with the random element of card draws to structure epic storytelling.  Characters are built based upon the legendary figures the royal face cards are said to represent and they must overcome Hardships dictated by random pulls.</p>
                                <p>Fortuna Mytica is available for download- for free- at our <a href="http://lostdutchman.itch.io/">Itch.io</a> page.</p>
                                <ul class="list-inline">
                                    <li>Date: April 2018</li>
                                    <li>Category: Tabletop RPG</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="folio-modal modal fade" id="folioModalDread" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="modal-body">
                                <h2>Dread: One Shots</h2>
                                <p class="item-intro text-muted">Comprehensive campaign modules for the tabletop RPG Dread.</p>
                                <img class="img-fluid d-block mx-auto img-responsive" src="~/Content/img/hunger.png" alt="The Hunger" />
                                <img class="img-fluid d-block mx-auto img-responsive" src="~/Content/img/salish.png" alt="The Feet of the Salish Sea" />

                                <p>These one-shots are detailed, ready to play Dread campaigns.  Both include narrative act structure, in-game materials like police reports, strategies for the GM, game guidance tips, and additional rules and mechanics to intensify play.</p>
                                <p>The Hunger is set in 1870s Great Lakes America and features a Wendigo- a terrifying abomination from Cree lore.  Let your players try keep their paranoia and hunger at bay as daemonic forces tempt them and a heavy curse takes its toll.  This game includes six fully customizable character roles with questionnaires, a section on cultural lore surrounding the Wendigo legends, two optional rules for introducing a hidden role, and a three act narrative that can be followed.</p>
                                <p>The Feet of the Salish Sea is a modern story based on the real-life unsolved mystery of severed feet washing up on the shores of Washington State and British Columbia.  This module is deep into urban legends, mystery, and supernatural horrors.  Included in this file are: a detailed incident report, three character roles, GM guidance, a three act structure, and an improv/mystery mechanic that will streamline storytelling no matter how off-the-rails your characters go. </p>
                                <p>Our Dread campaigns are available for download- for free- at our <a href="http://lostdutchman.itch.io/">Itch.io</a> page.</p>
                                <ul class="list-inline">
                                    <li>Date: March 2018</li>
                                    <li>Category: Tabletop RPG</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Log Modals-->
@Html.Raw(Logs.GetLogModal(Site))