
@{
    ViewBag.Title = "Nice Bowling";
}

<h2>NiceBowling</h2>
<style>
    body,html {
        height: 90%;
        margin: 0;
    }

    .bg {
        background-image: url("../../Content/img/fullscreenwithlogo.jpg");
        height: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        float: left;
    }

    {box-sizing:border-box}

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, next:hover {
        background-color: azure;
    }

    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
</style>

<body>
    <div class="bg"></div>
        <img src="~/Content/img/nicebowlingtext.jpg" alt="NiceBowling" style="margin-right:15px;" />
    <section>
        <p>Nice Bowling is a quirky bowling game that is 100% committed to its aesthetic and provides a variety of different random effects that make gameplay a different experience each time.</p>
        <p>Modeled after the late 80's, early 90's obsession with chrome and neon, Nice Bowling's unique look and retro/chillwave soundtrack will really bring you back.  Gameplay is simple and clean, with a natural, responsive feel that tests your bowling prowess in a lighthearted environment.  Nice Bowling really shines in its 'added effect' playstyle.  Random events can trigger on any frame of play to a huge variety of outcomes- good luck bowling with a beach ball, a jelly blob, or a bouncy ball.  Sometimes fish rain from the sky and block the lane.  Sometimes there will be obsticals or ramps in your path.  Nice Bowling will be available on PC and mobile summer 2018.</p>
    </section>
    <section id="carousel">
        <p>PUT A CAROUSEL SLIDESHOW HERE</p>

        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="~/Content/img/openscene.png" style="width:100%" />
                <div class="text">Image 1 Caption</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="~/Content/img/screen3.png" style="width:100%" />
                <div class="text">Image 2 Caption</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="~/Content/img/fullscreenwithlogo.jpg" style="width:100%" />
                <div class="text">Image 2 Caption</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094</a>
            <a class="next" onclick="plusSlides(1)">&#10095</a>
        </div>
        <br />
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>


    </section>
    <section id="ost">
        <p>PUT AUDIO SAMPLER HERE</p>
    </section>
    <section id="updates">
        <p>HERE THAR BE UPDATES</p>
    </section>
    <section id="devlog">
        <p>PUT DEVLOG HERE WITH EXPANDABLE TEXT MODALS FOR BLOG POSTS</p>
    </section>
    <section id="martketing">
        <p>WHERE TO BUY, SOCIAL MEDIA LINKS, REVIEWS, ETC</p>
    </section>
</body> 

@section scripts{

<script>
    var slideIndex = 1;

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n)'
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementByClassName("mySlides");
        var dots = document.getElemenetByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i=0; i < slides.length; i++) {
            slides[i].style.display = "none";
            }
        for (i=0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display="block";
        dots[slideIndex-1].className += " active";
</script>
}