
@{
    ViewBag.Title = "Nice Bowling";
}

@section head{
<link href="~/Content/NiceBowling.css" rel="stylesheet" type="text/css" />
}

<section id="lander">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="well clearfix">
                    <img src="~/Content/img/nicebowlinglogotrans.png" align="left" />
                    <br />
                    <p> Nice Bowling is a quirky bowling game that is 100% committed to its aesthetic and  provides a variety of different random effects that make gameplay a different experience each time.</p>
                    <p>Modeled after the late 80's, early 90's obsession with chrome and neon, Nice  Bowling's unique look and retro/chillwave soundtrack will really bring you back. Gameplay is simple and clean, with a natural, responsive feel that tests your bowling prowess in a lighthearted environment.  Nice Bowling really shines in its 'added effect' playstyle.  Random events can trigger on any frame of play to a huge variety of outcomes- good luck bowling with a beach ball, a jelly blob, or a bouncy ball.  Sometimes fish rain from the sky and block the lane.  Sometimes there will be obsticals or ramps in your path.  Nice Bowling will be available on  PC and mobile summer 2018.</p>
                </article>

                <div id="media">
                    <div class="container">
                        <div class="row">
                                <div class="col-md-4 media-item">
                                    <a class="media-link" data-toggle="modal" href="#mediaModal1">
                                        <div class="thumbnail">
                                            <article class="well">
                                                <div class="media-hover">
                                                    <div class="media-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img class="img-fluid" src="~/Content/img/VHS.png" />
                                                <h1>Video</h1>
                                            </article>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 media-item">
                                    <a class="media-link" data-toggle="modal" href="#mediaModal2">
                                        <div class="thumbnail">
                                            <article class="well">
                                                <div class="media-hover">
                                                    <div class="media-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img class="img" src="~/Content/img/polaroid1.png" />
                                                <h1>Images</h1>
                                            </article>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 media-item">
                                    <a class="media-link" data-toggle="modal" href="#mediaModal3">
                                        <div class="thumbnail">
                                            <article class="well clearfix">
                                                <div class="media-hover">
                                                    <div class="media-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img class="img-fluid" src="~/Content/img/cassette-tape.png" />
                                                <h1>Soundtrack</h1>
                                            </article>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<div id="buy">  
    <article class="well">
        <h1>COMING SOON!</h1> 
        <br />
        <br />
        @*<ul class="list-inline buy-buttons">
            <li class="list-inline-item">
                <a href="http://www.lostdutchmansoftware.com">
                    <i class="fab fa-steam"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.lostdutchmansoftware.com">
                    <i class="fab fa-nintendo-switch"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.lostdutchmansoftware.com">
                    <i class="fab fa-playstation"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.lostdutchmansoftware.com">
                    <i class="fab fa-xbox"></i>
                </a>
            </li>
       </ul>*@
</article>
</div>

<section id="devlog">
    <div class="container">
        <div class="row">
            <article class="well clearfix">
                <h2 class="section-heading">Devlog</h2>
                <p>TESTER TEXT</p>
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <div class="devlog-item">
                                    <a class="devlog-link" data-toggle="modal" href="#devlogModal1">
                                        <div class="devlog-hover">
                                            <div class="devlog-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <i class="fas fa-bowling-ball fa-7x"></i>
                                        <p>April 20, 2018</p>
                                    </a>
                                </div>
                            </div>
                        <div class="col-sm-5">
                            <div class="devlog-item">
                                <div class="devlog-caption">
                                    <h4>Working with Softbodies</h4>
                                    <p class="muted">Subtitle/Caption</p>
                                </div>
                            </div>
                        </div>
                            <div class="col-sm-1"></div>
                     </div>
                 </div>
                 <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <div class="devlog-item">
                                <a class="devlog-link" data-toggle="modal" href="#devlogModal2">
                                    <div class="devlog-hover">
                                        <div class="devlog-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <i class="fas fa-bug fa-7x"></i>
                                    <p>May 4, 2018</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="devlog-item">
                                <div class="devlog-caption">
                                    <h4>Bugfix Friday!</h4>
                                    <p class="muted">Subtitle/Caption</p>
                                </div>
                            </div>
                          <div class="col-sm-1"></div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <div class="devlog-item">
                                <a class="devlog-link" data-toggle="modal" href="#devlogModal2">
                                    <div class="devlog-hover">
                                        <div class="devlog-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <i class="fas fa-gem fa-7x"></i>
                                    <p>June 12, 2018</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="devlog-item">
                                <div class="devlog-caption">
                                    <h4>Good Ideas</h4>
                                    <p class="muted">Some good ideas from this week.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>          
              </article>
            </div>
          </div>

    <!--MEDIA MODALS-->

    <div class="media-modal modal fade" id="mediaModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h1>Videos</h1>
                                <p>Many of these videos are 'works in progress' but they're designed to show off both the artistic and mechanical aspects of the game in real time!</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ENqtRIZPYIY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                <br />
                                <p>Visit our <a href="https://www.youtube.com/channel/UC0DOBzJirr9YCc0CMP7X32g">Youtube channel</a> to check out this and other projects!</p>
                                <br />
                                <br />
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media-modal modal fade" id="mediaModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Images</h2>
                                <!-- Slideshow container -->
                                <div class="slideshow-container">

                                    <!-- Full-width images with number and caption text -->
                                    <div class="mySlides fade">
                                        <div class="numbertext">1 / 7</div>
                                        <img src="~/Content/img/bouncyball.png" style="width:100%">
                                        <div class="text"></div>
                                    </div>

                                    <div class="mySlides fade">
                                        <div class="numbertext">2 / 7</div>
                                        <img src="~/Content/img/credits.png" style="width:100%">
                                        <div class="text"></div>
                                    </div>

                                    <div class="mySlides fade">
                                        <div class="numbertext">3 / 7</div>
                                        <img src="~/Content/img/FISH.png" style="width:100%">
                                        <div class="text"></div>
                                    </div>

                                    <div class="mySlides fade">
                                        <div class="numbertext">4 / 7</div>
                                        <img src="~/Content/img/fullscreenwithlogo.jpeg" style="width:100%">
                                        <div class="text"></div>
                                    </div>

                                    <div class="mySlides fade">
                                        <div class="numbertext">5 / 7</div>
                                        <img src="~/Content/img/gamescreen.png" style="width:100%">
                                        <div class="text"></div>
                                    </div>

                                    <div class="mySlides fade">
                                        <div class="numbertext">6 / 7</div>
                                        <img src="~/Content/img/manyballs.png" style="width:100%">
                                        <div class="text"></div>
                                    </div>

                                    <div class="mySlides fade">
                                        <div class="numbertext">7 / 7</div>
                                        <img src="~/Content/img/Obsticals.png" style="width:100%">
                                        <div class="text"></div>
                                    </div>
                                    <!-- Next and previous buttons -->
                                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                </div>
                                <br>

                                <!-- The dots/circles -->
                                <div style="text-align:center">
                                    <span class="dot" onclick="currentSlide(1)"></span>
                                    <span class="dot" onclick="currentSlide(2)"></span>
                                    <span class="dot" onclick="currentSlide(3)"></span>
                                    <span class="dot" onclick="currentSlide(4)"></span>
                                    <span class="dot" onclick="currentSlide(5)"></span>
                                    <span class="dot" onclick="currentSlide(6)"></span>
                                    <span class="dot" onclick="currentSlide(7)"></span>
                                </div>
                                <p>content</p>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="media-modal modal fade" id="mediaModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Soundtrack</h2>
                                <p>Nice Bowling has a Nice Soundtrack.  Especially if you're into vapor/retrowave with a chill leaning.</p>
                                <div class="player1">
                                    <h3>~Aether Theories~ - Vidian</h3>
                                    <img src="~/Content/img/avy.jpg" width="100" height="100" />
                                    <audio controls>
                                        <source src=~/Content/Vidian_-_aether_theories_1.mp3 type="audio/mp3" />
                                        Dang, your browser doesn't support this audio element.
                                    </audio>
                                </div>
                                <div class="player2">
                                    <h3>glaciaere (Abandonded) - Stevia Sphere</h3>
                                    <img src="~/Content/img/steviasphere.jpg" width="100" height="100" />
                                    <audio controls>
                                        <source src=~/Content/glaciære.mp3 type="audio/mp3" />
                                        Dang, your browser doesn't support this audio element.
                                    </audio>
                                </div>
                                <h3>Chill Wave - Kevin MacLeod</h3>
                                <img src="~/Content/img/macleod.jpg" width="100" height="100" />
                                <audio controls>
                                    <source src=~/Content/ChillWave.mp3 type="audio/mp3" />
                                    Dang, your browser doesn't support this audio element.
                                </audio>
                            </div>
                                <p>All music used with permission.</p>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--DEVLOG MODALS-->
    <div class="devlog-modal modal fade" id="devlogModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="devlog-modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Today's Japanese</h2>
                                <h2>Today's Spanish</h2>
                                <p class="item-intro text-muted">Amazon Alexa skill for daily language Learning</p>
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/APP_ICON2.png" alt="Today's Japanese and Spanish" />
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/bubble.png" alt="Alexa voice commands" />
                                <p>The aim of Today's Japanese and Today's Spanish is to provide Alexa users with a wide variety of vocabulary that they can practice whenever they have a spare moment.  We made certain to not only contain common words and phrases, but also words of varying difficulty (while still being accessible to learners of all levels).  Today's Japanese and Spanish contains a new word every day and you'll have access to common, meaningful subjects like animals, colors, seasons, greetings, family members, and some basic phrases for conversation.</p>
                                <ul class="list-inline">
                                    <li>Date: February 2018</li>
                                    <li><a href="https://www.amazon.com/dp/B07B2LCK35/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1520008742&sr=1-1&keywords=todays+japanese">View on Amazon Echo Skill Market here</a></li>
                                    <li>Category: Single Solution Application</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="devlog-modal modal fade" id="devlogModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Nice Bowling!</h2>
                                <p class="item-intro text-muted">Fun bowling game with a fully commited 80's retrowave aesthetic and a fun set of random effects to make gameplay a different exerience every time.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/screen3.png" alt="Nice Bowling" />
                                <p>Nice Bowling! was created to be played on both console and mobile, revolving around the simple mechanic of throwing the ball down the lange.  A huge assortment of quirky, random effects are introdcued in every frame, making each playthrough unique.  Multiple balls of differing size, weights, and physics materials can make the frame more or less challenging.  Pin size can change, wind can knock you off course, obsticals, ramps, and even piles of floppy fishes can spawn on the lane.</p>

                                <p>Nice Bowling! also carries its identity in its sleek, radical look.  We put a huge focus on neon colors, moving, glowing grids, video effects that hearken back to the wonder years of VHS tapes... And to top it all off, we've got a sick retro/vaporwave soundtrack that compliments the whole experience.</p>
                                <ul class="list-inline">
                                    <li>Summer 2018</li>
                                    <li>Check out Nice Bowling! soon</li>
                                    <li>Category: Game</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="devlog-modal modal fade" id="devlogModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Modern Fairway 4</h2>
                                <h2>Spec-Ops in the Rough</h2>
                                <p class="item-intro text-muted">Our first Ludum Dare project - created in just 3 days.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/mf4level1.gif" alt="" />
                                <img class="img-fluid d-block mx-auto" src="~/Content/img/mf4level2.gif" alt="" />
                                <p>The Ludum Dare challenge is simple: a theme chosen and once its revealed, you have 72 hours to create a game for submission and review by the rest of the community.  Ludum Dare #41 was our first official game jam and we had a blast.  The theme chosen was "combine two incompatible genres" and we did the most outlandish thing we could think of- combine a first person shooter with golf.  And we really combined everything.  The drama and grittiness of an FPS is all over the menu and overall styling of the game but the golf courses are low poly, brightly colored, and downright cute.  Most importantly, even the mechanics are combined- you shoot the ball into the hole with a variety of high powered weapons.</p>
                                <ul class="list-inline">
                                    <li>Date: April 2018</li>
                                    <li><a href="https://ldjam.com/events/ludum-dare/41/modern-fairway-4-spec-ops-in-the-rough">Check out Modern Fairway 4 on Ludum Dare!</a></li>
                                    <li>Category: Game</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
  <script type="text/javascript" src="~/Scripts/ImageGallery.js"></script>
}