
@{
    ViewBag.Title = "Nice Bowling";
}

@section head{
<link href="~/Content/NiceBowling.css" rel="stylesheet" type="text/css" />
}



@*<div class="masthead1">
    <div class="well">
   
    </div>
</div>   


<section id="carousel">
    <h2>GALLERY</h2>
    <p>PUT A CAROUSEL SLIDESHOW HERE</p>

    <div class="gallery">
        <a target="_blank" href="~/Content/img/Action.png">
            <img src="~/Content/img/Action.png" width="500" height="400" />
        </a>
        <div class="desc">Strike??</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Content/img/bouncyball.png">
            <img src="~/Content/img/bouncyball.png" width="300" height="200" />
        </a>
        <div class="desc">Bouncy Balls</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Content/img/FISH.png">
            <img src="~/Content/img/FISH.png" width="300" height="200" />
        </a>
        <div class="desc">Watch out for fish.</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Content/img/credits.png">
            <img src="~/Content/img/credits.png" width="300" height="200" />
        </a>
        <div class="desc">Tasty Tracks</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Content/img/gamescreen.png">
            <img src="~/Content/img/gamescreen.png" width="300" height="200" />
        </a>
        <div class="desc">Nice Bowling</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Content/img/manyballs.png">
            <img src="~/Content/img/manyballs.png" width="300" height="200" />
        </a>
        <div class="desc">Many different balls</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Content/img/Obsticals.png">
            <img src="~/Content/img/Obsticals.png" width="300" height="200" />
        </a>
        <div class="desc">Mini Golf Style Obsticals</div>
    </div>

</section>
<section id="ost">
    <h2>Soundtrack</h2>
    <p>Nice Bowling has a Nice Soundtrack.  Especially if you're into vapor/retrowave with a chill leaning.</p>
    <div class="player1">
        <h3>~Aether Theories~ - Vidian</h3>
        <img src="~/Content/img/avy.jpg" width="100" height="100" />
        <audio controls>
            <source src=~/Content/Vidian_-_aether_theories_1.mp3 type="audio/mp3" />
            Dang, your browser doesn't support this audio element.
        </audio>
    </div>
    <br />
    <br />
    <div class="player2">
        <h3>glaciaere (Abandonded) - Stevia Sphere</h3>
        <img src="~/Content/img/a2712678819_2.jpg" width="100" height=100" />
        <audio controls>
            <source src=~/Content/glaciære.mp3 type="audio/mp3" />
            Dang, your browser doesn't support this audio element.
        </audio>
    </div>
</section>

<section id="updates">
    <p>HERE THAR BE UPDATES</p>
    <h3>This Week:</h3>
    <p>This week in Nice Bowling, we rolled back to an earlier branch to improve stability.  Next week, we will be adding more random effects to the game.</p>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
</section>*@

<section id="lander">
    <div class="well">
        <img src="~/Content/img/nicebowlingtext.jpg" />        
            <p> Nice Bowling is a quirky bowling game that is 100% committed to its aesthetic and  provides a variety of different random effects that make gameplay a different experience each time.</p>
            <p>Modeled after the late 80's, early 90's obsession with chrome and neon, Nice  Bowling's unique look and retro/chillwave soundtrack will really bring you back. Gameplay is simple and clean, with a natural, responsive feel that tests your bowling prowess in a lighthearted environment.  Nice Bowling really shines in its 'added effect' playstyle.  Random events can trigger on any frame of play to a huge variety of outcomes- good luck bowling with a beach ball, a jelly blob, or a bouncy ball.  Sometimes fish rain from the sky and block the lane.  Sometimes there will be obsticals or ramps in your path.  Nice Bowling will be available on  PC and mobile summer 2018.</p>
    </div>
</section>

<section id="devlog">
    <p>PUT DEVLOG HERE WITH EXPANDABLE TEXT MODALS FOR BLOG POSTS</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Devlog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                </a>
                <div class="portfolio-caption">
                    <h4>5-April-18</h4>
                    <p class="text-muted">Github: A Challenge and A Savior</p>
                    <br />
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Github Opinions and Facts</h2>
                                <h2>I love it and I hate it.</h2>
                                <p class="item-intro text-muted">Or, we almost had a crisis but were able to roll back to early commits. Yay.</p>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                <ul class="list-inline">
                                    <li>Date: April 2018</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="martketing">
    <p>WHERE TO BUY, SOCIAL MEDIA LINKS, REVIEWS, ETC</p>

    <div class="row">
        <div class="col-lg-12 mx-auto text-center">
            <p class="text-muted">Buy Nice Bowling! at any of these places:</p>
            <div class="col-md-12">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/SoftDutch">
                            <i class="fa fa-steam"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Lost-Dutchman-Software-348646928960032/">
                            <i class="fa fa-nintendo-switch"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/lostdutchmansoftware/">
                            <i class="fa fa-playstation"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UC0DOBzJirr9YCc0CMP7X32g">
                            <i class="fa fa-xbox"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mx-auto text-center">
            <p class="text-muted">Come find us on social media!</p>
            <div class="col-md-12">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/SoftDutch">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Lost-Dutchman-Software-348646928960032/">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/lostdutchmansoftware/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UC0DOBzJirr9YCc0CMP7X32g">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section scripts{
  
}