
@{
    ViewBag.Title = "WyrdOfStromgard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Site = Path.GetFileName(Request.Url.ToString());
    DutchmanSite.Models.DevLogsModel Logs = new DutchmanSite.Models.DevLogsModel();
}

@section head{
    <meta name="description" content="Wyrd Of Stromgard" />
    <meta name="keywords" content="WyrdOfStromgard,Wyrd Of Stromgard,Word Of Stromgard,Wryd Of Stromgard, Wyrd Of Stromguard,Word Of Stromguard,wyrd,stromgard,stromguard,rpg,ttrpg,tabletop rpg,pen and paper rpg,dungeon world,dungeons and dragons,role playing,role playing game,Powered by the Apocalypse,pbta,dnd,adnd,viking,scandinavian,norse,rune,poetic edda,icelandic,elder edda,ragnarok,lost dutchman software,lost dutchman,lost dutchman mesa,lost dutchman arizona,mesa,arizona" />
    <meta name="author" content="Lost Dutchman Publishing" />
    <link href="~/Content/WyrdOfStromgard.css" rel="stylesheet" type="text/css" />
}

<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="~/Home/Index"><img id="logo" src="~/Content/img/navbarsoftware.png" alt="Lost Dutchman Software" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder navbar-inverse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#media">About</a>
            </li>
            <li>
                <a href="#buy">Buy</a>
            </li>
            <li>
                <a href="#devlog">Devlog</a>
            </li>
        </ul>
    </div>
</div>

<section id="lander">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="well clearfix">
                    <img class="img-responsive" src="~/Content/img/colortransparent.png" align="middle" id="toplogo" />
                    <br />
                    <p>The Wyrd of Stromgard is a Dungeon World expansion inspired by the mythic lore of the Norse people. </p>
                    
                    <p>Heavily based on surviving Norse literary sources like the Poetic and Prose Eddas, Beowulf, and the Icelandic Sagas, Stromgard is a broad world of magic and titanic threats, of gods and monsters and oracles.  Above all, it is a world of discovery and heroism, of great opportunities for those wishing for the chance to prove their greatness.</p>

                    <p>The Wyrd of Stromgard provides an elaborate and detailed setting and, with the Dungeon World rules, epic Norse campaigns filled with gods, primal beasts, and bravery come together effortlessly.  Most importantly, Stromgard is a flexible setting and its playbooks can be used in tandem with the original classes of Dungeon World seamlessly.  The setting is rich and elaborate but it is designed to be alterable and customized to fit any game group's playstyle and interests.</p>
                </article>                
            </div>
        </div>
    </div>
</section>

<div id="about">
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">About</h2>
                    <h3 class="text-muted">What's the Wyrd?</h3>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/Content/img/runestone.jpg" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Inspiration</h4>
                                    <h4 class="subheading">Bardsong and Runestones</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Wyrd of Stromgard takes inspiration from classical literary works that form the foundation of our modern understanding of the Norse peoples.  The Poetic and Prose Eddas, the many Icelandic Sagas, Beowulf, and stories told through archeological discoveries helped shape Stromgard into a world that feels real and dynamic, while retaining it's fantastic roots in the Norse mythological canon.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                    <img class="img-circle img-responsive adjust" src="~/Content/img/usewDW.png" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dungeon World</h4>
                                    <h4 class="subheading">Streamlined, Modern Foundations</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Wyrd of Stromgard is built on the Dungeon World ruleset, using it's narrative-driven, clever mechanics to drive stories and conflict onward.  Additionally, the character playbooks included with Dungeon World can easily be played in the Stromgard setting.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fully Customizable</h4>
                                    <h4 class="subheading">Draw maps but leave blanks...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">sdflkajfl;kasjdf;laksdjf;alsjk Stromgard</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="" alt="" />
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What's here??</h4>
                                    <h4 class="subheading">Classes, Races, Lore, et al...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Blah blah blah blah</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Check us 
                                <br />out on 
                                <br />Kickstarter!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="media">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 media-item">
                                <a class="media-link" data-toggle="modal" href="#mediaModal1">
                                    <div class="thumbnail">
                                        <article class="well">
                                            <div class="media-hover">
                                                <div class="media-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid" src="~/Content/img/VHS.png" />
                                            <h1>Video</h1>
                                        </article>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 media-item">
                                <a class="media-link" data-toggle="modal" href="#mediaModal2">
                                    <div class="thumbnail">
                                        <article class="well">
                                            <div class="media-hover">
                                                <div class="media-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img" src="~/Content/img/polaroid1.png" />
                                            <h1>Images</h1>
                                        </article>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 media-item">
                                <a class="media-link" data-toggle="modal" href="#mediaModal3">
                                    <div class="thumbnail">
                                        <article class="well clearfix">
                                            <div class="media-hover">
                                                <div class="media-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img class="img-fluid" src="~/Content/img/cassette-tape.png" />
                                            <h1 id="soundtrack">Soundtrack</h1>
                                        </article>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

<div id="buy">
    <article class="well">
        <h1>COMING SOON!</h1>
        <br />
        <br />
        @*<ul class="list-inline buy-buttons">
                    <li class="list-inline-item">
                        <a href="http://www.lostdutchmansoftware.com">
                            <i class="fab fa-steam"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.lostdutchmansoftware.com">
                            <i class="fab fa-nintendo-switch"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.lostdutchmansoftware.com">
                            <i class="fab fa-playstation"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.lostdutchmansoftware.com">
                            <i class="fab fa-xbox"></i>
                        </a>
                    </li>
            </ul>*@
    </article>
</div>

<section id="devlog">
    <div class="container">
        <div class="row">
            <article class="well clearfix">
                <h2 class="section-heading">Devlog</h2>
                <p>Updates on Development</p>
                <br />
                @Html.Raw(Logs.GetLog(Site))
            </article>
        </div>
    </div>

    <!--MEDIA MODALS-->

    <div class="media-modal modal fade" id="mediaModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="modal-body">
                                <h1>Videos</h1>
                                <p>Many of these videos are 'works in progress' but they're designed to show off both the artistic and mechanical aspects of the game in real time!</p>
                                <div class="video-container">
                                    <iframe width="853" height="480" src="https://www.youtube.com/embed/ENqtRIZPYIY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <br />
                                <p>Visit our <a href="https://www.youtube.com/channel/UC0DOBzJirr9YCc0CMP7X32g">Youtube channel</a> to check out this and other projects!</p>
                                <br />
                                <br />
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-modal modal fade" id="mediaModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="modal-body">
                                <h1>Images</h1>
                                <br />
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                        <li data-target="#myCarousel" data-slide-to="3"></li>
                                        <li data-target="#myCarousel" data-slide-to="4"></li>
                                        <li data-target="#myCarousel" data-slide-to="5"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="~/Content/img/FISH.png" alt="Fish in the Lane">
                                        </div>

                                        <div class="item">
                                            <img src="~/Content/img/bouncyball.png" alt="Bouncy Ball">
                                        </div>

                                        <div class="item">
                                            <img src="~/Content/img/manyballs.png" alt="Many Kinds of Balls">
                                        </div>

                                        <div class="item">
                                            <img src="~/Content/img/credits.png" alt="Credits">
                                        </div>

                                        <div class="item">
                                            <img src="~/Content/img/Obsticals.png" alt="Swinging Obsticals">
                                        </div>

                                        <div class="item">
                                            <img src="~/Content/img/screencapbeachball.png" alt="Beach Ball">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <br />
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-modal modal fade" id="mediaModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <h1>Soundtrack</h1>
                                <p>Nice Bowling has a Nice Soundtrack.  Especially if you're into vapor/retrowave with a chill leaning.</p>
                                <div class="player1">
                                    <h3>~Aether Theories~ - Vidian</h3>
                                    <img src="~/Content/img/avy.jpg" width="100" height="100" />
                                    <audio controls>
                                        <source src=~/Content/Vidian_-_aether_theories_1.mp3 type="audio/mp3" />
                                        Dang, your browser doesn't support this audio element.
                                    </audio>
                                </div>
                                <div class="player2">
                                    <h3>glaciaere (Abandonded) - Stevia Sphere</h3>
                                    <img src="~/Content/img/steviasphere.jpg" width="100" height="100" />
                                    <audio controls>
                                        <source src=~/Content/glaciære.mp3 type="audio/mp3" />
                                        Dang, your browser doesn't support this audio element.
                                    </audio>
                                </div>
                                <h3>Chill Wave - Kevin MacLeod</h3>
                                <img src="~/Content/img/macleod.jpg" width="100" height="100" />
                                <audio controls>
                                    <source src=~/Content/ChillWave.mp3 type="audio/mp3" />
                                    Dang, your browser doesn't support this audio element.
                                </audio>
                            </div>
                            <p>All music used under Creative Commons 3.0</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(Logs.GetLogModal(Site))
</section>

<p class="testing">lfkjlakdfjs</p>