
@{
    ViewBag.Title = "WyrdOfStromgard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Site = Path.GetFileName(Request.Url.ToString());
    DutchmanSite.Models.DevLogsModel Logs = new DutchmanSite.Models.DevLogsModel();
}

@section head{
    <meta name="description" content="Wyrd Of Stromgard" />
    <meta name="keywords" content="WyrdOfStromgard,Wyrd Of Stromgard,Word Of Stromgard,Wryd Of Stromgard, Wyrd Of Stromguard,Word Of Stromguard,wyrd,stromgard,stromguard,rpg,ttrpg,tabletop rpg,pen and paper rpg,dungeon world,dungeons and dragons,role playing,role playing game,Powered by the Apocalypse,pbta,dnd,adnd,viking,scandinavian,norse,rune,poetic edda,icelandic,elder edda,ragnarok,lost dutchman software,lost dutchman,lost dutchman mesa,lost dutchman arizona,mesa,arizona" />
    <meta name="author" content="Lost Dutchman Publishing" />
    <link href="~/Content/WyrdOfStromgard.css" rel="stylesheet" type="text/css" />
}

<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="~/Home/Index"><img id="logo" src="~/Content/img/navbarsoftware.png" alt="Lost Dutchman Software" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder navbar-inverse" id="collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#media">About</a>
            </li>
            <li>
                <a href="#buy">Buy</a>
            </li>
            <li>
                <a href="#devlog">Devlog</a>
            </li>
        </ul>
    </div>
</div>

<section id="lander">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article class="well clearfix">
                    <img class="img-responsive" src="~/Content/img/colortransparent.png" align="middle" id="toplogo" />
                    <br />
                    <p>The Wyrd of Stromgard is a Dungeon World expansion inspired by the mythic lore of the Norse people. </p>
                    
                    <p>Heavily based on surviving Norse literary sources like the Poetic and Prose Eddas, Beowulf, and the Icelandic Sagas, Stromgard is a broad world of magic and titanic threats, of gods and monsters and oracles.  Above all, it is a world of discovery and heroism, of great opportunities for those wishing for the chance to prove their greatness.</p>

                    <p>The Wyrd of Stromgard provides an elaborate and detailed setting and, with the Dungeon World rules, epic Norse campaigns filled with gods, primal beasts, and bravery come together effortlessly.  Most importantly, Stromgard is a flexible setting and its playbooks can be used in tandem with the original classes of Dungeon World seamlessly.  The setting is rich and elaborate but it is designed to be alterable and customized to fit any game group's playstyle and interests.</p>
                </article>                
            </div>
        </div>
    </div>
</section>

<div id="folio">
    <div class="container">
        <span class="anchor" id="mediaLink"></span>
        <div class="row">
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioDungeonWorld">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/DWtile.png" alt="Dungeon World" />
                </a>
                <div class="folio-caption">
                    <h2>Dungeon World</h2>
                    <p class="text-muted">Check out how Wyrd of Stromgard runs and what keeps it clean, accessible, and high-impact.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioCharaClasses">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/charatile.png" alt="Character Classes" />
                </a>
                <div class="folio-caption">
                    <h2>Player Classes</h2>
                    <p class="text-muted">These classes are powerful, flexible archetypes based on major players from Norse myth.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioModalOST">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/racetile.png" alt="Racial Classes" />
                </a>
                <div class="folio-caption">
                    <h2>Racial Classes</h2>
                    <p class="text-muted">Playable classes based on powerful mythological races.  Develop your skillset based on your culture and innate powers.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <span class="anchor" id="mediaLink"></span>
        <div class="row">
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioModalVideo">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/maptile.png" alt="vhs" />
                </a>
                <div class="folio-caption">
                    <h2>The World</h2>
                    <p class="text-muted">Learn about Stromgard's societies and lore.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioModalPics">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/monstertile.png" alt="Monsters" />
                </a>
                <div class="folio-caption">
                    <h2>Monsters</h2>
                    <p class="text-muted">Stromgard is full of horrifying nightmare fuel and threats of apocalyptic proportions.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 folio-item">
                <a class="folio-link" data-toggle="modal" href="#folioModalOST">
                    <div class="folio-hover">
                        <div class="folio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/Content/img/inspotile.png" alt="Inspiration" />
                </a>
                <div class="folio-caption">
                    <h2>Inspiration</h2>
                    <p class="text-muted">Stromgard was borne of a rich mythos and love of ancient lore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
          

<div id="buy">
    <article class="well">
        <h1>Kickstarter Campaign Coming</h1>
        <h1 class="date">Fall 2018</h1>
                <br />
                <br />
    </article>
</div>

<section id="devlog">
    <div class="container">
        <div class="row">
            <article class="well clearfix">
                <h2 class="section-heading">Devlog</h2>
                <p>Updates on Development</p>
                <br />
                @Html.Raw(Logs.GetLog(Site))
            </article>
        </div>
    </div>

    <!--MEDIA MODALS-->

    <div class="media-modal modal fade" id="folioDungeonWorld" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="modal-body">
                                <h2>How To Play</h2>
                                <br />
                                <br />
                                <p>The Wyrd of Stromgard is an expansion for Dungeon World (who in turn is Powered by the Apocalypse).  It is a sleek, modern ruleset that lets the collaborative narrative of roleplaying lead the way while the mechanics cleverly quantify contest points in an easy to read and easy to learn fashion that frankly opens up tabletop RPGs to a huge variety of people.</p>
                                <p>The Dungeon World ruleset is the perfect vehicle for Stromgard.  The rules place priority on role playing and story telling, while still providing a fun and interesting combat system without bogging itself down in a multitude of complex, rarely used rules.  It's easy to pick up, easy to get good at, and robust enough to handly really complex, nuanced situations in very common sense ways.</p>
                                <p>For those of you familiar with Dungeon World, you're probably thinking of the GM Principles right now.  I know the goal is to "draw maps, but leave blanks" and The Wyrd of Stromgard offers the perfect balance of structure and customizabilty to make the GM's job a little easier and simultaneously provide a fantastic, dynamic setting that play groups can alter and customize any way they please.</p>
                                <p>Of course, this sounds like a perfect match, you think.  Well, now you'll need to grab the Dungeon World core rules and get yourself aquainted!  Check out <a href="http://www.dungeon-world.com/">Dungeon World's</a> website for all the info you could possibly need.  Even better, Wyrd of Stromgard player classes can play side by side with vanilla Dungeon World characters seamlessly.</p>
                                <br />
                                <br />
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-modal modal fade" id="folioCharaClasses" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="modal-body">
                                <h2>Character Classes</h2>
                                <br />
                                <p>The Wyrd of Stromgard boasts 5 unique player classes based off mythical archetypes from Norse lore.  Each archetype represents a wide spectrum of specific narrative feels depending on build and play style.  Movesets were derived from legends and tales, representing what amazing deeds these characters accomplished in their larger than life stories.</p>
                                <h3>The Bearskin</h3>
                                <p>The Bearskin is a physical powerhouse.  In the heat of battle they succumb to their bloodrage, transforming them from mortal warrior to a nearly-impervious force of sheer destruction.  They have nerves of steel, an indomitable will to triumph, and can single handedly turn an enemy onslaught into a one-sided bloodbath.  The Bearskin cannot keep up their frenzy forever, on the other hand, and they crash hard, leaving them vulnerable.  A Bearskin's allies also learn quickly to give them room during a fight, less they wind up amongst the body count.</p>
                                <h3>The Skald</h3>
                                <p>The Skald is a lorekeeper and academic, a highly valued member of society by all classes and creeds.  Jarls depend on them to record their lineage, heroes want them to sing of their deeds...  People believe that Skalds hold great magic in their words, and they are often consulted as mediators and trustworthy enough to have the final say in many grave matters.  Skalds will find it easy to leverage their social status in most situations, from deescalating combat or intentionally inflaming it.  Skalds are also talented fighters in their own right and can hold their own in a hairy situation.</p>
                                <h3>The Hunter</h3>
                                <p>Hailing from a mysterious, shadowy cult, Hunters are devoted to a ghastly phenomenon called The Wild Hunt.  This mysterious occurence consists of a ravenous, demonic hunting party rampaging across the land, dragging unpunished criminals, murderers, oathbreakers and other unworthy out of their hiding places to be dragged off to Helheim, jail of the dishonorable dead.  The Hunter is a vigilante, skilled at stalking in the shadows but a hard hitting, sadistic fighter bent on debilitating their enemy.  They're ruthless and sometimes quite bloodthirsty but don't expect to take one into a fight where you intend to let your enemies live.</p>
                                <h3>The Stormcaller</h3>
                                <h3>The Crone</h3>
                                <br />
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-modal modal fade" id="mediaModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="moda-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <h1>Soundtrack</h1>
                                <p>Nice Bowling has a Nice Soundtrack.  Especially if you're into vapor/retrowave with a chill leaning.</p>
                                <div class="player1">
                                    <h3>~Aether Theories~ - Vidian</h3>
                                    <img src="~/Content/img/avy.jpg" width="100" height="100" />
                                    <audio controls>
                                        <source src=~/Content/Vidian_-_aether_theories_1.mp3 type="audio/mp3" />
                                        Dang, your browser doesn't support this audio element.
                                    </audio>
                                </div>
                                <div class="player2">
                                    <h3>glaciaere (Abandonded) - Stevia Sphere</h3>
                                    <img src="~/Content/img/steviasphere.jpg" width="100" height="100" />
                                    <audio controls>
                                        <source src=~/Content/glaciære.mp3 type="audio/mp3" />
                                        Dang, your browser doesn't support this audio element.
                                    </audio>
                                </div>
                                <h3>Chill Wave - Kevin MacLeod</h3>
                                <img src="~/Content/img/macleod.jpg" width="100" height="100" />
                                <audio controls>
                                    <source src=~/Content/ChillWave.mp3 type="audio/mp3" />
                                    Dang, your browser doesn't support this audio element.
                                </audio>
                            </div>
                            <p>All music used under Creative Commons 3.0</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(Logs.GetLogModal(Site))
</section>