<!DOCTYPE HTML>
<html>
	<head>
		<title>Lost Dutchman Software</title>
		<meta charset="utf-8" />
		<meta name="description" content="We made Nice Bowling, The Wyrd of Stromgard, and Dreadful. Currently working on Tri City Monsters and Sumo Spin, both are available for free right now.">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="{{url_for('static', filename='lds/images/cardimage.webp')}}" />
		<meta property="og:image" content="{{url_for('static', filename='lds/images/cardimage.webp')}}" />
		<meta name="twitter:title" content="Lost Dutchman Software" />
		<meta name="twitter:description" content="We made Nice Bowling, The Wyrd of Stromgard, and Dreadful. Currently working on Tri City Monsters and Sumo Spin, both are available for free right now." />
		<meta property="og:title" content="Lost Dutchman Software" />
		<meta property="og:description" class="speakable-description" content="We made Nice Bowling, The Wyrd of Stromgard, and Dreadful. Currently working on Tri City Monsters and Sumo Spin, both are available for free right now." />
		<meta property="og:url" content="http://lostdutchmansoftware.com/">
		<meta property="og:type" content="website" />
		<link rel="stylesheet" href="{{url_for('static', filename='lds/assets/css/main.css')}}" />
		<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='lds/assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<img src="{{url_for('static', filename='lds/images/logo.webp')}}" alt="Lost Dutchman Software" />
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">About</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						{% for data in data %}
						<article class="thumb">
							<a href="{{data[0]}}" class="image"><img src="{{data[1]}}" alt="{{data[2]}}" /></a>
						</article>
						{% endfor %}
					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Who we are</h2>
									<p>Two devs from the desert near the Superstition Mountains.  We have been making games since 2017.  We make games that we think will be fun without doing any market research.  We hope to one day be able to make games full time but for now it is a fun hobby and we sure hope you have fun playing our games.  </p>
								</section>
								<section>
									<h2>Find us on ...</h2>
									<ul class="icons">
										<li><a href="https://discord.gg/QzkrtdMQTz" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
										<li><a href="https://github.com/lostdutchman" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="https://store.steampowered.com/curator/45131913-Studio-Peaches" class="icon brands fa-steam"><span class="label">Steam</span></a></li>
										<li><a href="https://lostdutchman.itch.io/" class="icon brands fa-itch-io"><span class="label">itch.io</span></a></li>
									</ul>
								</section>
							</div>
							<div>
								<section>
									<img src="{{url_for('static', filename='lds/images/home.webp')}}" alt="Photo taken at Lost Dutchman State Park" />
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='lds/assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='lds/assets/js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for('static', filename='lds/assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='lds/assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='lds/assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='lds/assets/js/main.js')}}"></script>

	</body>
</html>