<!DOCTYPE HTML>
<html>
	<head>
		<title>Wyrd of Stromgard</title>
		<meta charset="utf-8" />
		<meta name="description" content="A Mythic Norse Expansion for Dungeon World.  Featuring playbooks, compendium classes, and monsters that can be used in any fantasy setting." >
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="{{url_for('static', filename='lds/images/stromgard.webp')}}" />
		<meta name="twitter:site" content="@softdutch" />
		<meta name="twitter:title" content="The Wyrd of Stromgard" />
		<meta name="twitter:description" content="The Wyrd of Stromgard is a Dungeon World expansion inspired by surviving Norse literary sources." />
		<meta property="og:title" content="The Wyrd of Stromgard" />
		<meta property="og:description" class="speakable-description" content="The Wyrd of Stromgard is a Dungeon World expansion inspired by surviving Norse literary sources." />
		<meta property="og:url" content="http://lostdutchmansoftware.com/stromgard">
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{{url_for('static', filename='lds/images/stromgard.webp')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='stromgard/assets/css/main.css')}}" />
		<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Wyrd of Stromgard</h1>
							<p>A Mythic Norse Expansion for Dungeon World</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{url_for('static', filename='stromgard/images/gmscreen.webp')}}" alt="GM Screen Art" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Available as a Softcover Book & PDF</h2>
						</header>
						<div class="content">
							<p><strong>Available via <a href="https://www.drivethrurpg.com/en/product/280540/the-wyrd-of-stromgard">DriveThruRPG's print on demand service</a></strong> The Wyrd of Stromgard comes in a 6x9in US Trade Paperback- the same size as the original Dungeon World book so they can sit together on your bookshelf!  Additionally, it's over 300 pages with a full color, wrap-around cover and with an abundance of black and white interior illustrations including class portraits and monsters. </p>
							<span class="image main"><img src="{{url_for('static', filename='stromgard/images/covermockupbig.webp')}}" alt="Wyrd of Stromgard book" /></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Everything you need to make legends real</h2>
						</header>
						<div class="content">
							<p><strong>The Wyrd of Stromgard</strong> contains a huge amount of tools, classes, mechanics, and lore to help you build your epic Norse mythos.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-feather-alt">Historical Notes</li>
								<li class="icon solid fa-bolt">10 Class Playbooks</li>
								<li class="icon solid fa-gem">7 Compendium Classes</li>
								<li class="icon solid fa-globe-europe">A Rich Setting with Complex Moving Parts</li>
								<li class="icon solid fa-spider">20 Monsters</li>
								<li class="icon solid fa-horse-head">Equipment & Items</li>
								<li class="icon solid fa-wrench">Game Master's Tool Box</li>
								<li class="icon solid fa-skull">One multi-act, ready made adventure</li>
							</ul>
							<p>Stromgard is meaty!  Each of the 10 character classes cover things like cultural notes, literary archetypes and inspirations, inspired "look" prompts, plot-driving bonds, moves inspired by the epic tales in the Eddas- and that's just scratching the surface.  Racial starting moves have been updated to "background moves", giving PCs more freedom to play with the relationship between race, class, and alignment as well as provide them space to dream up their own background culture and their character's relationship to it.</p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Incredibly Sick Artwork</h2>
						</header>
						<div class="content">
							<p><strong><a href="https://x.com/goyagoat?lang=en">Eli Spencer</a></strong> crafted a ton of beautiful sketches to serve as the game's chief aesthetic compass including full class portraits and monsters.</p>

							<!-- Section -->
								<section>
									<header>
										<h3>Cover & DM Screen Art</h3>
										<p>We also worked with the incredibly talented <a href="https://www.instagram.com/camilkuo/">Camille Kuo</a> to bring you Stromgard's full color cover depicting two warriors' encounter with a Norn and the GM screen art depicting Jormungandr destroying a fleet of ships.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<img class="landscape" src="{{url_for('static', filename='stromgard/images/adventuretile.webp')}}" alt="Figure wearing ritual antlers" />
											<img class="portrait" src="{{url_for('static', filename='stromgard/images/dragon.webp')}}" alt="Naturalist embellishment of a snake coiled on itself" />
											<img class="portrait" src="{{url_for('static', filename='stromgard/images/tree.webp')}}" alt="Black and white sketch of Yggdrasil" />
											<img class="landscape" src="{{url_for('static', filename='stromgard/images/monster.webp')}}" alt="Dire Bear" />
											<img class="landscape" src="{{url_for('static', filename='stromgard/images/sketch2.webp')}}" alt="Kelpie concept art" />
											<img class="portrait" src="{{url_for('static', filename='stromgard/images/sketch3.webp')}}" alt="Fae concept art" />
											<img class="portrait" src="{{url_for('static', filename='stromgard/images/bird.webp')}}" alt="Depiction of a bird in a simplified, rustic style" />
											<img class="landscape" src="{{url_for('static', filename='stromgard/images/boasnake.webp')}}" alt="Jörmungandr" />
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Map of Stromgard</h3>
										<p>We worked closely with Eli to create a map of Stromgard that would serve as a great visual springboard to get players immersed in the world.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<img src="{{url_for('static', filename='stromgard/images/map.webp')}}" alt="Map of Stromgard" />
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Character Classes and Playbooks</h3>
										<p>Stromgard comes with printable player character sheets to make game night easy and organized.  They're modelled to be similar to the original Dungeon World playbooks too so if DW is old hat to your crew, you'll have no confusion at all making the switch.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<img class="landscape" src="{{url_for('static', filename='stromgard/images/playbookpreview.webp')}}" alt="Playbook preview" />
											<img class="landscape" src="{{url_for('static', filename='stromgard/images/spread.webp')}}" alt="Class, Monster, and loot table previews" />
										</div>
									</div>
								</section>

						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Where to get Stromgard</h2>
						</header>
						<div class="content">
							<p><strong>Where to get the book</strong> The soft cover is available via <a href="https://www.drivethrurpg.com/en/product/280540/the-wyrd-of-stromgard">print on demand from DriveThruRPG</a>, and the PDF is available on Itch.io or via piracy!</p>
							<ul class="actions">
								<li><a href="https://www.drivethrurpg.com/en/product/280540/the-wyrd-of-stromgard" class="button primary large">Soft Cover Book</a></li>
								<li><a href="https://lostdutchman.itch.io/the-wyrd-of-stromgard" class="button large">PDF</a></li>
								<li><a href="https://archive.org/details/wyrd-of-stromgard-pdf/WyrdOfStromgardPDF/" class="button large">Pillage It</a></li>
							</ul>
						</div>
						<footer>
							<h3>Elsewhere</h3>
							<ul class="icons">
								<li><a href="http://x.com/softdutch" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="http://instagram.com/users/lostdutchmansoftware" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/lostdutchman/stromgard" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://lostdutchman.itch.io/" class="icon brands fa-itch-io"><span class="label">itch.io</span></a></li>
								<li><a href="https://www.drivethrurpg.com/en/publisher/13903/lost-dutchman-publishing" class="icon solid fa-dice-d20"><span class="label">Drive Thru RPG</span></a></li>
							</ul>
						</footer>
					</section>
			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='stromgard/assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='stromgard/assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='stromgard/assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='stromgard/assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='stromgard/assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='stromgard/assets/js/main.js')}}"></script>

	</body>
</html>