<!DOCTYPE HTML>
<html>
	<head>
		<title>Sumo Spin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='sumospin/assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='sumospin/assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">Sumo Spin</a></h1>
					<p>2 Players, 1 Device!<br />
						Rush your friend and shove them out!</p>
					<ul class="actions">
						<li><a href="https://lostdutchman.itch.io/sumospin" target="_blank" class="button primary icon solid fa-download">Download</a></li>
						<li><a href="#one" class="button icon solid fa-chevron-down scrolly">Learn More</a></li>
					</ul>
				</div>
				<div class="image phone">
					<div class="inner">
						<img src="{{url_for('static', filename='sumospin/images/1.webp')}}" name="slide"/>
					</div>
				</div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>1 Button Action!</h2>
					<p>Press + hold to stop spinning and charge up an attack &#9656; Release to launch forward &#9656; Knock opponent out of the ring to win!</p>
				</header>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
						<video src="{{url_for('static', filename='sumospin/images/HardHitPalletChange.mp4')}}" height="300px" autoplay muted loop type="video/mp4" alt=""></video>
						<div class="content">
							<h3>Simple Graphics</h3>
							<p>Inspired by late Atari and early Nintendo games.  Bask in its sweet & chunky pixel goodness.</p>
						</div>
					</section>
					<section class="spotlight">
						<video src="{{url_for('static', filename='sumospin/images/save.mp4')}}" height="300px" autoplay muted loop type="video/mp4" alt=""></video>
						<div class="content">
							<h3>Simple Gameplay</h3>
							<p>Sumo Spin has a straightforward spinning mechanic and single button gameplay that makes it easy to jump right in.</br>
							</p>
						</div>
					</section>
					<section class="spotlight">
						<video src="{{url_for('static', filename='sumospin/images/HardHit.mp4')}}" height="300px" autoplay muted loop type="video/mp4" alt=""></video>
						<div class="content">
							<h3>Simple AF</h3>
							<p>Remember when games didn't have with ad, require accounts, subscription services, or collect user data to be sold to advertising firms??  Lost Dutchman Software can't remember much, that was like 100 years ago. Anyway we don't do subscriptions, accounts, data collecting, and absolutely no ads!</p>
						</div>
					</section>
					<section class="special">
						<ul class="icons labeled">
							<li><span class="icon solid fa-ban"><span class="label">No ADs</span></span></li>
							<li><span class="icon solid fa-lock"><span class="label">No Data Collection</span></span></li>
							<li><span class="icon solid fa-flask"><span class="label">Free Beta Version</span></span></li>
							<li><span class="icon solid fa-wallet"><span class="label">No Subscriptions</span></span></li>
							<li><span class="icon solid fa-code"><span class="label"><a href="https://github.com/lostdutchman/sumospin" target="_blank">Source code</a> is available if you dont believe me.</span></span></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2 special">
				<header class="major">
					<h2>In Beta for Android and PC</h2>
					<p>Download the APK or play in a web browser. Feedback and complaints are very welcome!<br />
					You can get it now on <a href="https://lostdutchman.itch.io/sumospin" target="_blank">itch.io</a><br />
					The game's is free while it's in beta and will shift to being a one-time payment once I think the game is worth paying for. </p>
				</header>
				<ul class="actions special">
					<li><a href="#" class="button primary icon solid fa-download">Download</a></li>
					<li><a href="#" class="button">Learn More</a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='sumospin/assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='sumospin/assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='sumospin/assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='sumospin/assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='sumospin/assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='sumospin/assets/js/main.js')}}"></script>
			<script src="{{url_for('static', filename='sumospin/assets/js/slide.js')}}"></script>
	</body>
</html>